.card
    width: 100%
    margin: 0
    background-color: transparent
    border: $bd1
    border-radius: $brs1
    overflow: hidden
    justify-self: center

    +maw(568)
        max-width: 256px

    & * 
        transition: $trs

    &__wrap
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(256px, 1fr))
        justify-content: center
        gap: var(--gapMd)
        margin: var(--gapMd) auto

        &:last-child
            margin-bottom: 0

        &-outer
            display: flex
            justify-content: center

    &__img
        position: relative  
        width: 100%
        padding-top: 50%
        background-color: darken($violet3, 10%)

        & *
            +ps(absolute, (t, 0), (l, 0))
            +sz(100%, 100%)
            object-fit: cover

    &__content  
        padding: 12px 16px
        text-align: center

    &__header
        +flex(flex, center, flex-start, wrap)
        gap: var(--gapSm)
        padding-bottom: 12px
        border-bottom: $bd2

    &__text
        padding-top: 12px
        padding-bottom: 16px

    &__title
        +ft(20, 24, 700)
        color: $pink

    &__label
        +ft(16, 24, 700)
        text-decoration: underline

    &__btn
        +flex(flex, center, center, nowrap)
        padding: 16px 24px
        border-radius: $brs1
        background-image: $grad1
        background-color: $pink
        color: $white
        +ft(14, 16, 700)

        &:hover, &:focus, &:active
            background-image: none