.rating
    +flex(inline-flex, center, center, nowrap)
    max-width: 150px
    gap: 4px
    padding: 4px 6px
    border-radius: $brs1
    border: none
    background-color: $violet1
    color: $white
    +ft(12, 12, 700)

    &--grey
        background-color: $grey6
        color: $grey2

    &--lg
        @extend .rating
        background: transparent
        color: $grey2
        svg
            +sz(20px, 20px)
        b
            margin-left: 4px
            @extend %body2
            font-weight: bold

