.review-comment
    position: relative
    &__header
        position: relative
        +flex(flex, center, space-between, wrap)
    &__title
        +flex(flex, center, flex-start, wrap)
        gap: var(--gapXs)
        @extend %body1
        svg
            +sz(24px, 24px)

        a
            +ft(14, 14, 400)
            text-decoration: underline
            color: $grey3
    &__date
        display: block
        flex: 1 0 auto
        width: 100%
        //padding-left: 32px


    &-item
        margin: var(--gapSm) auto
        & > &
            margin-left: 2.5vw
        &__wrap
            margin: var(--gapSm) auto
        &__header
            +flex(flex, center, flex-start, wrap)
            gap: var(--gapXs)

            & > span:first-of-type
                flex: 1 
        &__footer
            margin-top: var(--gapSm)
            color: $grey3
            @extend %caption
            &:hover, &:focus, &:active, &.active
                color: $violet1

    &--good::before, &--bad::before
        content: ''
        +flex(inline-flex, center, center, nowrap)
        +sz(24px, 24px)
        min-width: 24px
        background: url('../img/icons/plus.svg')
        background-repeat: no-repeat
    &--bad::before
        background: url('../img/icons/minus.svg')


    &__date
        @extend %caption
        color: $grey3

    &-item
        &__header
            margin-bottom: 12px
            +ft(16, 16*1.4, 700)
        &__content
            @extend %body2
            color: $grey3


.review-form
    +flex(flex, flex-start, center, wrap)
    flex-direction: column
    gap: var(--gap)
    margin: var(--gapSm) auto
    padding: var(--gapSm)
    @extend %card

    &__group, &__row
        width: 100%

    &__group
        display: grid
        grid-template-columns: 1fr 1fr
        gap: var(--gap)

        +maw($xs)
            grid-template-columns: 1fr

    &__row--inline
        +flex(flex, center, flex-start, nowrap)
        gap: var(--gap)
        
    label
        @extend %caption
        color: $grey2

    input:not([type="checkbox"]), textarea
        width: 100%
        min-height: 40px
        padding: 8px 10px
        margin: 4px auto
        resize: none

        border-radius: 8px
        border: 1px solid $grey5
        background-color: $grey6
        color: $grey4
        @extend %body2

        &:focus, &:active, &:hover
            border-color: $violet1
            appearance: none
            box-shadow: none
            outline: none

    input[type="number"]
        +flex(flex, center, center, nowrap)
        +sz(70px, 40px)
        margin: 0

    &__title
        @extend %h4
        color: $grey2

    &__note
        +ft(12, 12, 400)
        color: $grey3
        text-transform: lowercase
        &::first-letter
            text-transform: uppercase

    &__footer
        width: 100%
        display: grid
        grid-template-columns: auto auto
        gap: var(--gap)
        justify-content: flex-end
        +maw($xs)
            grid-template-columns: 1fr
        +miw($xs)    
            .btn-main
                width: 194px

    &__checkbox
        @extend %checkbox

        label
            color: $grey2
            &::before
                border-color: $pink
                background-color: $pink
                border-radius: 4px

        input:checked + label:after
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxNCAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNS4zNDc2Nkw1IDkuMzQ3NjZMMTMgMS4zNDc2NiIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K")
            background-color: transparent
            background-repeat: no-repeat
            background-size: contain
            background-position: center

            border-radius: 0



.review
    &__header
        +flex(flex, center, space-between, wrap)
        gap: var(--gap)
        +maw($xs)
            button
                max-width: 100%
                width: 100%
    &__footer
        display: grid
        grid-template-columns: auto auto
        justify-content: space-between
        gap: var(--gap)
        +maw($xs)
            justify-content: inherit

    &__title
        @extend %h3  
        color: $grey2      

    &-stat
        margin: var(--gapSm) auto
        @extend %card
        padding: var(--gapSm)
        display: grid
        grid-template-columns: auto auto auto
        gap: var(--gap)
        align-items: center
        color: $grey2

        +miw($lg)
            & > div:not(:last-of-type)
                border-right: 1px solid $grey5
                margin-right: calc(33% - 1px)

        +maw($md)
            grid-template-columns: 1fr 1fr

            & > div:last-child
                grid-column: 1/-1 

        +maw($xs)
            grid-template-columns: 1fr 
                

        &__title
            @extend %caption
            font-weight: bold
        &__note
            @extend %caption
            color: $grey3
        &__val
            @extend %h4
            margin: var(--gapXs) auto
            
            svg
                +sz(24px, 24px)

.stat
    margin: 0 auto
    &, td
        outline: none
        border: none
        @extend %caption
        font-weight: bold
    td
        &:nth-of-type(1), &:nth-of-type(2)
            width: 25px
        &:nth-of-type(3)
            width: calc(100% - 50px)
        &:nth-of-type(4)
            width: 25px
    svg
        +sz(20px, 20px)
            
    


