.slider
    &__wrap
        max-width: 1120px
    &__inner
        // +flex(flex, center, flex-start, wrap)
        gap: var(--gap)
    &__img
        position: relative
        width: 100%
        //padding-top: 50%
        border-radius: $brs1
        overflow: hidden


        & *
            display: block
            object-fit: cover
            border-radius: $brs1
