body
    background-repeat: no-repeat
    background-size: cover
    background-position: center top

a
    font-family: inherit
    &:hover, &:focus, &:active, &:focus-visible
        color: inherit
        outline: none
        appearance: none
        box-shadow: none

.container
    max-width: 1144px
    
.section
    padding-top: var(--sectionMy)
    padding-bottom: var(--sectionMy)

.page
    &__error
        display: flex
        flex-direction: column

        .section
            flex: 1

            &:nth-child(even)
                padding-top: var(--sectionSm)
                padding-bottom: var(--sectionSm)
                

            +maw($sm)
                text-align: center
                &:first-child
                    flex: initial
    &__hero
        padding-top: calc(var(--gapSm) + var(--headerH))
        padding-bottom: var(--gapSm)
        background: url('../img/bg/bg-hero.svg') no-repeat 50%/cover
        backdrop-filter: blur(15px)
        border-top: $bd3
        h1
            margin-bottom: var(--headingMb)
            +ft(58, 64, 600)
            letter-spacing: -0.02em

            +maw($xs)
                +ft(28, 32, 600)
        p
            margin-bottom: 0
            +ft(16, 24, 400)
        a
            text-decoration: underline
            transition: $trs
            &:hover, &:focus, &:active
                text-decoration: none

    &__container
        +theme(white)
        height: 100%
        padding: var(--gapMd) 0

    &__content
        padding-top: calc(var(--gapSm) + var(--headerH))
        padding-bottom: var(--gapSm)

    &__meta
        +flex(flex, center, flex-start, wrap)
        gap: var(--gap)
        margin-bottom: var(--gapSm)
        +ft(12, 16, 400)

    &__inner
        height: 100%
        padding-top: calc(var(--gapXmd) + var(--headerH))
        padding-bottom: var(--gapXmd)
        +theme(light)

        section
            margin-top: var(--gapLg)

            &:first-child
                margin-top: 0

        h1, h2
            margin-bottom: var(--gapSm)
      
        h3, h4, h5, h6
            margin-bottom: var(--gap)

        h2
            @extend .h2
        p
            +ft(16, 24, 400)

            & > a
                text-decoration: underline
                &:hover, &:active, &:focus
                    text-decoration: none

        ul
            padding: 0
            margin: 0

            li
                position: relative
                list-style-type: none
                +flex(flex, flex-start, flex-start, nowrap)
                gap: 12px
                margin-top: var(--gap)
                &:first-of-type
                    margin-top: 0
                &::before
                    content: ''
                    +flex(flex, flex-start, flex-start, nowrap)
                    +sz(8px, 8px)
                    min-width: var(--gapXs)
                    margin: 8px
                    line-height: 24px
                    border-radius: 50%
                    background-color: $red

        +maw($xsm)
            padding-top: calc(var(--gap) + var(--headerH))

            p, li
                +ft(14, 20, 400)
        



.logos
    +flex(inline-flex, center, center, wrap)
    gap: var(--gap)
    
    & *
        max-width: 150px
        height: auto
        object-fit: contain
        transition: $trs
        &:hover, &:active, &:focus
            opacity: 0.5

        +maw(480)
            max-width: 40px
            transform: scale(1.2)

