body
    background-repeat: no-repeat
    background-size: cover
    background-position: center top

a
    font-family: inherit
    &:hover, &:focus, &:active, &:focus-visible
        color: inherit
        outline: none
        appearance: none
        box-shadow: none
