h1
    +ft(40, 48, 700)
    letter-spacing: -0.02em
    +maw($xsm)
        +ft(33, 40, 700)

h2
    +ft(28, 32, 400)
    letter-spacing: -0.01em

    +maw($xs)
        +ft(20, 20*1.5, 400)

.h2
    //+ft(33, 40, 700)
    +ft(40, 48, 700)
    letter-spacing: -0.02em
    +maw($xsm)
        +ft(28, 32, 700)

h3
    +ft(28, 32, 700)
    letter-spacing: -0.01em
    +maw($xsm)
        +ft(20, 24, 700)

h4
    +ft(24, 32, 700)
    +maw($xsm)
        +ft(16, 24, 700)