html, body 
    height: 100%
    min-height: 100vh
    scroll-behavior: smooth
    font-family: $ffText, $ffBack

body
    background-color: $white
    @extend %scroll

*
    //user-select: none
    &::selection
        background-color: $red

a
    text-decoration: none
    color: inherit
    &:hover, &:focus
        text-decoration: none
        color: $black

img
    user-select: none

button, a, input 
    &:hover, &:active, &:focus
        appearance: none
        outline: none
        box-shadow: none 

.page
    &__body
        display: flex
        flex-direction: column
        +theme(primary)
    &__wrapper
        flex: 1 0 auto